<% include ./partials/webHeader.ejs %>
        <div class="content">
            <div class="container-fluid">
                
                <div class="row">
                    <div class="col-md-12">
                        
                            <form method="POST" action="">

                                <div class="row">

                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="expenseName">Expense</label>
                                            <input type="text" class="form-control" id="expenseName" name="expense" placeholder="Expense Name" required>
                                        </div>
                                    </div>

                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label for="amount">Amount</label>
                                            <input type="number" step="any" class="form-control" id="amount" name="amount" placeholder="Amount" required>
                                        </div>
                                    </div>

                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label for="amount">Date</label>
                                            <input type="date" class="form-control" id="date" name="date" placeholder="date" required>
                                        </div>
                                    </div>

                                </div>

                                
                                <div class="form-group">
                                    <label for="expenseDescription">Description </label>
                                    <textarea name="description" id="expenseDescription" class="form-control" rows="5" required></textarea>
                                    <small id="descriptionHelp" class="form-text text-muted">Record the details of Expense if you wants to</small>
                                </div>
                                

                         
                                       
                                        
                                    </div>
                                </div>


                                <button type="submit" class="btn btn-primary">Submit</button>
                            </form>


                    </div>
                </div>
                
                
            </div>
        </div>
<% include ./partials/webFooter.ejs %>