<% include ./partials/webHeader.ejs %>
        <div class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <h4>Welcome <%= user.name %></h4>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="card">
                            <div class="header">
                                <h3 class="titile">
                                    Overview
                                </h3>
                            </div>
                            <div class="content">
                                <div class="row">
                                    <div class="col-xs-4">
                                        <h6>Total Balance</h6>
                                    </div>
                                    <div class="col-xs-4">
                                        <h6>You owe</h6>
                                    </div>
                                    <div class="col-xs-4">
                                        <h6>You are owed</h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="card">
                            <div class="header">
                                <h3 class="titile">
                                    Overview
                                </h3>
                            </div>
                        </div>
                    </div>
                </div>


                
            </div>
        </div>
<% include ./partials/webFooter.ejs %>