<% include ./partials/webHeader.ejs %>
        <div class="content">
            <div class="container-fluid">
                
                <div class="row">
                    <div class="col-md-12">
                        <a href="/expenses/addExpense" class="btn btn-info btn-fill">Add New Expense</a>
                    </div>
                </div>

                <br>
                
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="header">  
                            </div>

                            <div class="content">
                                <table class="table table-hover table-striped">
                                    <thead>
                                        <th>Expense Name</th>
                                        <th>Amount(Rs.)</th>
                                        <th>Description</th>
                                        <th>Date</th>
                                        <th>Actions</th>
                                    </thead>
                                    <tbody>
                                        <% expenses.forEach(function(expense){ %>
                                        <tr>
                                            <td><%= expense.name %></td>
                                            <td><%= expense.amount %></td>
                                            <td><%= expense.description %></td>
                                            <td><%= expense.date %></td>
                                            <td><a href="/expenses/editExpense/<%= expense.id %>"> Edit</a></td>
                                        </tr>
                                        <% })%>
                                        
                                    </tbody>
                                    </table>
                            </div>
                        </div>
                    </div>
                </div>
                
                
            </div>
        </div>
<% include ./partials/webFooter.ejs %>