<% include ./partials/loginSignup-header %>
                    <form class="form-signin" action="" method="POST">
                    <div class="form-group">
                        <input type="email" class="form-control" placeholder="Email" name="email" required autofocus />
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control" placeholder="Password" name="password" required />
                    </div>
                    <label class="checkbox">
                        <input type="checkbox" value="remember-me" />
                        Keep me signed in
                    </label>
                    <button class="btn btn-lg btn-block purple-bg" type="submit">
                        Sign in</button>
                    </form>
                    <a class="forgotLnk" href="#">I can't access my account</a>
                    <div class="or-box">
                        <span class="or">OR</span>
                        <div class="row">
                            <div class="col-lg-6 col-lg-offset-3 row-block">
                                <a href="#" class="btn btn-facebook btn-block">Facebook</a>
                            </div>
                        </div>
                    </div>
                    <div class="or-box row-block">
                        <div class="row">
                            <div class="col-md-12 row-block">
                                <a href="/signup" class="btn btn-primary btn-block">Create New Account</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>    
</body>
</html>