<% include ./partials/loginSignup-header %>
                    <form class="form-signin" action="" method="POST">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Name" name="name" required autofocus />
                    </div>
                    <div class="form-group">
                        <input type="email" class="form-control" placeholder="Email" name="email" required />
                    </div>
                    <div class="form-group">
                        Gender: 
                        <label class="radio-inline">
                            <input type="radio" name="gender" value="male" checked>Male
                        </label>
                        <label class="radio-inline">
                            <input type="radio" name="gender" value="female">Female
                        </label>
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control" placeholder="Password" name="password" required />
                    </div>
                    <!--<div class="form-group">
                        <input type="password" class="form-control" placeholder="Comfirm Password" name="confirPassword" required />
                    </div>-->
                    
                    <button class="btn btn-lg btn-block purple-bg" type="submit">
                        Sign Up</button>
                    </form>
                    
                    <div class="or-box">
                        <span class="or">OR</span>
                        <div class="row">
                            <div class="col-lg-6 col-lg-offset-3 row-block">
                                <a href="http://www.jquery2dotnet.com" class="btn btn-facebook btn-block">Facebook</a>
                            </div>
                        </div>
                    </div>
                    <div class="or-box row-block">
                        <div class="row">
                            <div class="col-md-12 row-block">
                                <a href="./login" class="btn btn-primary btn-block">Or Login Here</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>    
</body>
</html>