<% include ./partials/webHeader.ejs %>
        <div class="content">
            <div class="container-fluid">
                
                <div class="row">
                    <div class="col-md-12">
                        <div class="row">
                            
                            <div class="col-md-6">
                                <div class="card">
                                    <div class="header">
                                        <h5 class="title">This Month</h5>
                                    </div>
                                    <div class="content">
                                        <%= monthSum %>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="card">
                                    <div class="header">
                                        <h5 class="title">This Year</h5>
                                    </div>
                                    <div class="content">
                                            <%= yearSum %>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>


                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="header">
                                <h5 class="title">Life Time</h5>
                            </div>
                            <div class="content">
                                    <%= lifetimeSum %>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
<% include ./partials/webFooter.ejs %>